.vs/**
bin/**
FacilityMeltdown/bin/**
build/**
obj/**
packages/**
.vs/**
.vs/FacilityMeltdown/v17/.suo
.suo

**/obj/**
FacilityMeltdown.sln.DotSettings.user
.idea/
FacilityMeltdown.csproj.user
Assets/*
FacilityMeltdown/FacilityMeltdown.csproj.user
